body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #777;
}

hr {
    border: 0.5px solid #ddd;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.input-container {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    color: #888;
}

input {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.login {
    text-align: center;
    margin-top: 20px;
}

.login a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.login a:hover {
    text-decoration: underline;
}

.register {
    text-align: center;
    margin-top: 20px;
}

.register a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    text-decoration: underline;
}

